:root {
    /* text */
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Inter", sans-serif;
  
    /* Colors */
    --light-cl: #fff;
    --dark-cl: #000;
    --bt-cl: #E86F54;
    --bt-cl-hover: #E25B41;
    --bt-cl-focus: #FA6F54;
    --mob-menu-bg: #E86F54;
  
    --trns: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
  outline: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* container */

.container {
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  padding-left: 16px;
  padding-right: 16px;

  outline: 2px solid red;
  outline-offset: -2px;
  }
  
  /* @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 24px;
        padding-right: 24px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
  } */

  /* body */

body {
    font-family: var(--primary-font);
    letter-spacing: 0.02em;
    color: var(--dark-cl);
    font-size: 16px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title::after {
  content: '';
  width: 100%;
  border: 1px solid black;
  margin-left: 20px;
}

.section {
  margin-bottom: 60px;
}

.section:last-child {
  margin-bottom: 0px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 40px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: calc(24px / 18px);
  color: white;
  background-color: #E86F54;
  border-radius: 38px;
  border: none;
}

/* section header */

.section-header {
  position: relative;
  display: flex;
  padding-top: 16px;
  padding-bottom: 44px;
}

.header-phone {
  margin-left: auto;
  margin-right: 14px;
}

.header-menu-btn {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  fill: var(--dark-cl);
  background-color: transparent;
  border: none;
  padding: 0; 
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

/* section hero */

.section-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 274px;
  margin-bottom: 100px;
}

.hero-name {
  position: absolute;
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  width: 100%;
  bottom: 0;
  transform: translateY(30px);
}

.contact-us-btn {
  background-color: transparent;
  border: none;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: calc(17px / 14px);
  font-weight: 400;
  margin-right: 14px; 
  margin-left: 11px;
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  height: 274px;
}

/* section about */

.text {
  margin-bottom: 16px;
}

.img-about {
  width: 100%
}

/* section store */

.store {
  display: flex;
}

.store-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: .01em;
  margin-bottom: 32px;
}

.store-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 16px) / 2);
}

.store-img {
  margin-bottom: 16px;
}

.store-title {
  font-weight: 500;
  margin-bottom: 6px;
  line-height: calc(20 / 16);
}

.price {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.6;
}

/* section delivery */

.title-mob {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-mob::after {
  content: '';
  width: 147px;
  margin-top: 17px;
  border: 1px solid black;
}

.delivery-list {
  padding-left: 0;
}

.delivery-item {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
}

.number  {
  display: flex;
  font-size: 20px;
  /* margin-right: 24px; */
  align-items: center;
  justify-content: center;
  transform: translateX(-25px); 
}


.number::before {
  content: '';
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translateX(25px); 
}

.delivery-img {
  display: block;
  min-width: 100%;
}

/* section blog */

.section-blog {
  padding-bottom: 100px;
}

.slick_list {
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
  padding-bottom: 68px;
  display: flex;
}

.slick_item {
  margin-left: 8px;
  margin-right: 8px;
}

.slick_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 181px;
  margin: 0 auto;
}

.my-slick-prev,
.my-slick-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  line-height: 1;
  border: none;
  color: var(--dark-cl);
  background-color: transparent;
}

.my-slick-prev {
  width: 50px;
  height: 50px;
  bottom: 0px;
  left: 25%;
}

.my-slick-next {
  width: 50px;
  height: 50px;
  bottom: 0px;
  right: 25%;
}

.blog-text {
  margin-top: 14px;
 
  font-size: 18px;
  line-height: calc(22px / 18px);
  margin-bottom: 24px;
  text-align: center;
}

/* section footer */

.section-footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  background-color: #000;
  color: #fff;
  padding-top: 32px;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer-menu {
  margin-bottom: 32px;
  margin-right: 44px;
  display: block;
}

.footer-link {
  margin-bottom: 12px;
  display: block;
}

.schedule {
  display: block;
}

.footer-contacts {
  margin-right: 32px;
  font-style: normal;
}

.footer-socials {
  display: flex;
}

.fb {
  margin-right: 12px;
}

/* modile menu */

.menu-toggle {
  /* position: absolute;
  top: 16px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center; */
  width: 24px;
  height: 24px;
  fill: #fff;
  border: none;
  background-color: transparent;
}

/* .modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-bg-cl);
  fill:#FFFFFF;
} */

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 124px;
  background-color: var(--mob-menu-bg);
  z-index: 999;
  text-align: center;
  color: #fff;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--main-txt-cl);
}

.mobile-menu {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* Modal 1 */

.modal-contact {
  width: calc(100vw - 40px);
  max-width: 272px;
  padding: 28px 16px;
  min-height: 380px;
}
@media screen and (min-width: 768px) {
  .modal-contact {
    max-width: 480px;
    padding: 48px 32px;
  }
}
.modal-contact-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .modal-contact-title {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-bottom: 24px;
  }
}
.modal-contact-text {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #5c5c5c;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .modal-contact-text {
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-bottom: 32px;
  }
}
.modal-contact-form {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .modal-contact-form {
    margin-bottom: 38px;
  }
}

.modal-contact-label {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;

  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #5c5c5c;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .modal-contact-label {
    font-size: 14px;
    line-height: calc(17 / 14);
    margin-bottom: 24px;
  }
}

.modal-contact-field {
  width: 100%;
  height: 35px;
  padding: 10px 12px;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal-contact-field {
    height: 49px;
    padding: 16px;
  }
}

.modal-contact-field:focus {
  border-color: rgba(17, 17, 17, 0.7);
}

.modal-contact-field::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);

  color: rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  .modal-contact-field::placeholder {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.modal-icon-valid {
  opacity: 0;
}

.modal-icon-invalid {
  opacity: 0;
}

.modal-contact-field:not(:placeholder-shown):required:valid + svg {
  opacity: 1;
}

.modal-contact-field:not(:placeholder-shown):required:valid {
  border-color: green;
}

.modal-contact-field:not(:placeholder-shown):required:invalid {
  border-color: red;
}
.modal-contact-field:not(:placeholder-shown):required:invalid + svg + svg {
  opacity: 1;
}

/* "Thank u" modal style*/

.modal-thnku {
  width: calc(100vw - 40px);
  max-width: 272px;
  padding: 44px 16px 32px 16px;
  min-height: 357px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal-thnku {
    max-width: 480px;
    min-height: 505px;
    padding: 54px 32px;
  }
}
.modal-thnku-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .modal-thnku-title {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-bottom: 16px;
  }
}
.modal-thnku-text {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .modal-thnku-text {
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-bottom: 34px;
  }
}
.modal-thnk-content-icon {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .modal-thnk-content-icon {
    width: 367px;
    height: 202px;
  }
}